div#ad_box{
  width:100%;
  height:400px;
}

ul#ad_inner{
  width:1320px;
  height:100%;
  margin:0px auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-content:center;
}

ul#ad_inner> li{
  border-radius:20px;
  overflow:hidden;
}

ul#ad_inner>li img{
  width:100%;
  display:block;
}
